.moonz_container {
    padding: 5rem 0;
}

.moonz_img_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.moonz_img_container img {
    width: 128px;
    height: 128px;
    object-fit: cover;
    object-position: center;
}

.moonz_container h1 {
    font-size: 6rem;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
    padding: 0;
}

.moonz_container h2 {
    font-size: 1.4rem;
    padding: 0 15rem;
    color: #cecece;
    text-align: center;
}

/* intro */
.moonz_intro {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10%;
    padding: 5rem 0;
}

.moonz_about h3 {
    font-size: 4rem;
    font-weight: bold;
}

.moonz_about h4 {
    font-size: 2rem;
    font-weight: bold;
}

.moonz_about p {
    font-size: 1.3rem;
}

.moonz_app {
    padding: 0 8rem;
}

.moonz_app img {
    width: 100%;
    height: auto;
}

/* indicators */
.moonz_indicators {
    padding: 5rem 0;
}

.moonz_indicators h4 {
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 0;
}

.moonz_card {
    background: var(--color-black) !important;
}

.moonz_icon {
    color: var(--color-white) !important;
}

.moonz_card h5 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-white) !important;
}

.moonz_card small {
    font-size: 1rem;
    color: var(--color-white) !important;
}

.moonz_app_container {
    padding: 5rem 0;
}

.moonz_app_container h3 {
    font-size: 4rem;
    font-weight: bold;
    padding: 2rem 0;
}

.moonz_app_container p {
    font-size: 1.3rem;
    padding: 2rem 0;
}

/* moonz presentation */

/* moonz more info */
.moonz_more_info {
    padding: 5rem 0;
}

.moonz_more_info h3 {
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 0;
    text-align: center;
}

.moonz_more_info_btncontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn_a_playstore {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_a_playstore li {
    margin: .2rem .8rem 0 0;
}