header {
    height: 100%;
    padding: 2rem 0;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* ======================= CTA ===================== */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ======================= HEADER SOCIALS ===================== */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 0rem;
    font-size: 1.5rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
}

/* ======================= IMG ===================== */
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 25rem;
    height: 32rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 10rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 7rem 1.5rem 1.5rem 1.5rem;
}

.me__content {
    width: 50rem;
    height: auto;
    position: absolute;
    top: -45%;
    left: -55%;
}

/* ======================= SCROLL DOWN ===================== */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1rem;
}

/* )==============================MEDIA QUERIES (MEDIUM DEVICES)============================== */
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}


/* )==============================MEDIA QUERIES (SMALL DEVICES)============================== */
@media screen and (max-width: 600px) {
    header {
        height: 110vh;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }
}