@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* #3BBA9C; */
:root {
    /* --color-bg: #0A192F; */
    --color-bg: #111;
    --color-bg-variant: #1B1B1B;

    --color-primary: #61F8D4;
    --color-primary-variant: #4db5ff66;
    --color-white: #FFF;
    --color-black: #1C1C1C;
    --color-light: rgba(255, 255, 255, 0.6);
    --color-dark: rgba(0, 0, 0, 0.7);

    --transition: all 400ms ease;
    ;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;

}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
    /* background-image: url(../src/assets/bg-texture.png); */
}

/* General Syyles */
.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 52px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

section {
    margin: 10rem 0;
}

section>h5 {
    text-align: center;
    color: var(--color-light);
}

section>h2 {
    color: var(--color-white);
    margin-bottom: 3.5rem;
    text-align: center;
}

.text-light {
    color: var(--color-primary);
}

a {
    color: var(--color-primary);
    transition: var(--transition);
}

a:hover {
    color: var(--color-white);
}

.btn {
    background: var(--color-bg);
    display: inline-block;
    color: var(--color-white);
    padding: .8rem 2rem;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn a {
    color: var(--color-white);
    font-size: 1.1rem;
}

.btn:hover {
    color: var(--color-white);
    box-shadow: 0 0 10px var(--color-primary);
}

.btn-primary {
    padding: 12px;
    font-size: 1.1rem;
    background: var(--color-white);
    color: var(--color-black);
    border-color: var(--color-white);
    border-radius: 25px;
    cursor: pointer;

}

.btn-primary a:hover {
    transition: var(0);
}

.btn-primary a {
    padding: 0.8rem 1rem;
    color: var(--color-bg);
    font-size: 1.1rem;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.text-title {
    font-size: 45px;
}

.text-subtitle {
    font-size: 20px;
}

.spacer {
    margin-top: -10rem;
    aspect-ratio: 960/500;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container_black {
    background: var(--color-dark)
}

.layer2 {
    background-image: url('./assets/layer2.svg');
    z-index: 1000000;
}

.layer3 {
    background-image: url('./assets/layer3.svg');
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(20%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

/* BTN */
/* BUTTON GLOW EFFECT */
.glow-on-hover a {
    color: var(--color-bg);
}

.glow-on-hover {
    border-radius: 15rem;
    padding: 0rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-bg);
    z-index: 10000;
    width: 220px;
    height: 60px;
    border: 1px solid #dbd0eb;
    outline: none;
    color: #111;
    background: var(--color-bg);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-color: var(--color-white);
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #722081, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #722081);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 15rem;
}

.glow-on-hover:active {
    /* color: #000 */
    color: #fff
}

.glow-on-hover:active:after {
    /* background: var(--color-bg); */
    background: var(--color-white);
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-white);
    /* background: var(--color-bg); */
    border-color: var(--color-bg);
    left: 0;
    top: 0;
    border-radius: 15rem;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


/* )==============================MEDIA QUERIES (MEDIUM DEVICES)============================== */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }
}

/* )==============================MEDIA QUERIES (SMALL DEVICES)============================== */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    section>h2 {
        margin-bottom: 2rem;
    }

    .text-title {
        font-size: 35px;
    }

    .text-subtitle {
        font-size: 15px;
    }
}